@model bidtfal.Models.ContactViewModel
@using bidtfal.Models;
@{
    ViewBag.Title = "Contact";
}
@foreach (Contributor contributor in @Model.Contributors)
{
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-4">
            <img src="/Images/@contributor.ImageFileName"
                    alt="@contributor.Name"
                    class="img-responsive" />
        </div>
        <div class="col-sm-3">
            <div class="well">
                <h4>@contributor.Name</h4>
                <ul>
                    @foreach (var contactLink in contributor.ContactLinks)
                    {
                        <li><a href="@contactLink.LinkUrl">@contactLink.LinkText</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
}
    
